 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Muokkaa</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
		<div class="outer">
			<div class="content">
				<h2>PELITIETOKANTA</h2>
				<br><br>
				<form th:object="${peli}" th:action="@{../save}" action="#"
					method="post">
					<table class="table table-striped">
					
					<tr>
					<td><input type="hidden" th:field="*{id}" class="form-control" /> 
					</td>
					</tr>
					
					<tr>
					<td>Nimi: </td>
					<td><input type="text" id="nimi" th:maxlength="50" th:field="*{nimi}" />
					</td>
					 <td th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Virheellinen syöte</td>
					</tr>
					
					<tr>
					<td>Pelialusta: </td>
					<td><input type="text" id="alusta" th:maxlength="50" th:field="*{alusta}" />
					</td>
					 <td th:if="${#fields.hasErrors('alusta')}" th:errors="*{alusta}">Virheellinen syöte</td>
					</tr>
					
					<tr>
					<td>Median tyyppi: </td>
					<td><input type="text" id="formaatti" th:maxlength="50" th:field="*{formaatti}" />
					</td>
					 <td th:if="${#fields.hasErrors('formaatti')}" th:errors="*{formaatti}">Virheellinen syöte</td>
					</tr>
					
					<tr>
					<td>Julkaisuvuosi: </td>
					<td><input type="text" id="vuosi" th:maxlength="4" th:field="*{vuosi}" />
					</td>
					 <td th:if="${#fields.hasErrors('vuosi')}" th:errors="*{vuosi}">Virheellinen syöte</td>
					</tr>
					
					<tr>
					<td>Lisätietoja: </td> 
					<td><input type="text" id="info" th:maxlength="50" th:field="*{info}" /> 
					</td>
					 <td th:if="${#fields.hasErrors('info')}" th:errors="*{info}">Virheellinen syöte</td>
					</tr>
					
					<tr> 
					<td><input type="submit" value="Tallenna"></input>
					</td>
					</tr>
					
				</table></form>
				<br>
				<br>
				<a href="/loginlista" class="muuta">Palaa takaisin listaukseen tallentamatta</a>
			</div>
		</div>
</body>
</html>